alternative label tag
{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin-top: -3px;
	font-size:9px;
	color:green;
}
document>part{
	display:block;
	margin-top: 5px;
}
dimensions{
	display:block;
	vertical-align:text-top;
	border: 1px solid #cccccc;
	/*padding:10px 10px 10px 10px;*/
	width:100%;
}
dimensions dimension{
	display:block;
	vertical-align:text-top;
	border: 1px solid #cccccc;
	padding:5px 5px 5px 5px;
}
dimensions dimension tags
{
	margin:5px 5px 5px 5px;
}
dimensions dimension tags tag.potential
{
	border: 1px solid #cccccc;
	margin: 2px 2px 2px 2px;
	/*background-color: lightpink;*/
	padding: 2px 2px 2px 2px;
}
dimensions dimension tags tag.selected
{
	border: 1px solid #cccccc;
	margin: 2px 2px 2px 2px;
	color: green;
}
dimensions dimension default
{
	visibility: hidden;
}
/*
part subobjects 
{
	margin-left:5px;
	display:block;
}
*/
